.big-button {
    background-color: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight: bold;
    font-size: 2 * $remvalue;
    margin-bottom: 3 * $remvalue;
    padding: 2.4rem;
    width: 100%;
}
.big-button:disabled {
    opacity:0.5;
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: 0.6rem  solid darken($color: $purple, $amount: 10%);
    color: white;
    font-weight:500;
    padding: $s-size;
}
.button--link{
    background-color: $lightblue;
    border: none;
    color: $offwhite;
    padding: 0px;
}